.all-recipes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
    display: flex;
}
.ingredient-list {
    text-align: center;
    min-width: 300px;
    margin: 0 20px;
}
.ingredient-list li {
    text-align: left;
}
.ingredient-list> h2 {
    margin-bottom: 20px;
}