html {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
}
header > .image-wrapper {
    max-width: 150px;
    display: block;
}
header > h1 {
    margin-left: 20px;
    font-size: 34px;
}
header > .image-wrapper > img {
    border: none;
}
header > .image-wrapper:hover > img {
    box-shadow: none;
}